.resume {
  &-container {
    display: flex;
    &-workExperience,
    &-education {
      flex: 1;
      margin: 20px;
      .heading {
        text-align: center;
        margin: 5px 0 30px 0;
        h1 {
          color: white;
          font-size: 2.2rem;
          border-bottom: 2px solid var(--selected-theme-main-color);
          align-self: start;
          padding: 5px 10px;
          text-align: center;
          display: inline;
          text-transform: uppercase;
        }
        h1::before {
          content: "";
          border: 1.5px solid var(--selected-theme-main-color);
          height: 3px;
          display: inline-block;
          position: relative;
          bottom: -11px;
          right: 10px;
        }
        h1::after {
          content: "";
          border: 1.5px solid var(--selected-theme-main-color);
          height: 3px;
          display: inline-block;
          position: relative;
          bottom: -11px;
          right: -10px;
        }
      }
      &-item {
        h2{
            color: #fff;
            font-size: 2rem;
        }
        p{
            color: #fff;
            font-size: 1.6rem;
        }
      }
    }
  }
}

@media screen and (max-width:768px) {
    .resume-container{
        flex-direction: column;
    }
}
