.portfolio {
  &-content {
    &-filterSection {
      border: 1px dotted var(--selected-theme-main-color);
      border-radius: 26px;
      display: inline-block;
      margin: 20px;
      ul {
        display: inline-block;
        li {
          display: inline-block;
          list-style: none;
          font-size: 1.5rem;
          font-weight: 600;
          color: #fff;
          text-transform: uppercase;
          font-family: "Roboto Slab", serif;
          padding: 10px 20px;
          cursor: pointer;
          &.active {
            background-color: var(--selected-theme-main-color);
            border-radius: 26px;
          }
        }
      }
    }
    &-cardContainer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      padding: 20px;
      align-content: center;
      justify-content: center;
      align-items: center;
      &-content {
        position: relative;
        height: 350px;
        &:hover .cardOlay {
          opacity: 1;
        }
        .card {
          width: 100%;
          height: 100%;
          img {
            display: inherit;
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
        .cardOlay {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          display: grid;
          justify-content: center;
          align-items: center;
          align-content: center;
          height: 350px;
          background-color: var(--selected-theme-main-color);
          opacity: 0;
          transition: all 1s ease;
          div {
            position: relative;
            display: grid;
            justify-content: center;
            align-items: center;
            align-content: center;
            text-align: center;
            p {
              color: #fff;
              font-size: 3rem;
              text-transform: capitalize;
              overflow: hidden;
              white-space: nowrap;
              animation: typingEffect 1s steps(30, end);
            }
            button {
              border: 1px solid #fff;
              background: transparent;
              color: #fff;
              padding: 5px 10px;
              border-radius: 4px;
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}

@keyframes typingEffect {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .portfolio-content-cardContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .portfolio-content-cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
